{% extends "base.html" %}

{% block content %}
    <div>
        <a class="float-right btn btn-primary" href={% url "create-tag" %}>Add</a>
        <h1>Tags</h1>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for tag in tag_list %}
            <tr>
                <td>
                    {{ tag }}
                </td>

                <td>
                    <a class="btn btn-secondary" href={% url "update-tag" pk=tag.pk %}>Update</a>

                </td>

                <td>
                    <a class="btn btn-secondary" href={% url "delete-tag" pk=tag.pk %}>Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>


{% endblock %}